.outer{
    text-align: center;
}
.inner{
    display: inline-block;
    text-align: left;
}
.container{
    display: flex;
}
.panel{
    flex:auto;
    height: 100px;
    width: 100px;
    margin: 20px;
    padding: 20px;
    border-radius: 5%;
    font-size: 3em;
    text-align: center;
    line-height: 100px;
    color: white;
    background-color:deepskyblue;
}